@font-face {
	font-family:'icons';
	src:url('icons.eot?#iefix') format('embedded-opentype'),
		url('icons.woff') format('woff'),
		url('icons.ttf')  format('truetype'),
		url('icons.svg#icons') format('svg');
}

.htmlarea { text-align:left; position:relative; border:1px solid #ccc; padding-top:31px; }

.htmlarea textarea, .htmlarea .content { margin:0; padding:5px; border:none; outline:none; background:none; resize:none; }
.htmlarea .content:focus, .htmlarea textarea:focus { background:#fff; }
.htmlarea textarea { position:relative; z-index:1; }

.htmlarea input[type=text] { margin:4px; outline:none; background:#f7f7f7; border:1px solid #ccc; padding:3px 2px; border-radius:3px; }
.htmlarea input[type=text]:focus { background:#fff; }

.htmlarea .content p { margin:0; padding:0; }
.htmlarea .content a { text-decoration:none; }
.htmlarea .content img { max-width:100%; }
.htmlarea .content:after { content:""; display:block; clear:both; }


.htmlarea > .tools { position:absolute; top:0; left:0; right:0; width:100%; }
.htmlarea .tools { border-bottom:1px solid #ccc; background:#dfdfdf; white-space:nowrap; user-select:none; -webkit-user-select:none; -moz-user-select:-moz-none; }
.htmlarea .tools .tools { display:inline-block; vertical-align:top; border:none; }
.htmlarea .tools a { display:inline-block; vertical-align:top; text-align:center; width:1em; line-height:1em; height:1em; padding:0; margin:.1em; cursor:pointer;
	border:1px solid transparent; border-radius:.2em; background:transparent; position:relative; color:#333; font-size:24px; font-family:icons, Times, serif; }
.htmlarea .tools a.active { background-color:#ccc; border:1px solid #ccc; box-shadow:inset 0 .1em .3em rgba(0,0,0,.2); color:#111; }
.htmlarea .tools a > span { display:inline-block; text-shadow:0 1px 0px #fff; }

.htmlarea .tools .separator { cursor:default; width:1px; border:none; background:transparent; }
.htmlarea .tools .separator > span { display:none; }

.htmlarea .tools .bold > span:after { content:"b" }
.htmlarea .tools .italic > span:after { content:"i" }
.htmlarea .tools .underline > span:after { content:"u" }
.htmlarea .tools .strike > span:after { content:"s" }
.htmlarea .tools .sub > span:after { content:"x" }
.htmlarea .tools .sup > span:after { content:"X" }

.htmlarea .tools .center > span:after { content:"c" }
.htmlarea .tools .left > span:after { content:"l" }
.htmlarea .tools .right > span:after { content:"r" }
.htmlarea .tools .justify > span:after { content:"j" }

.htmlarea .tools .bullet > span:after { content:"*" }
.htmlarea .tools .number > span:after { content:"1" }
.htmlarea .tools .indent > span:after { content:">" }
.htmlarea .tools .outdent > span:after { content:"<" }

.htmlarea .tools .undo {}
.htmlarea .tools .redo {}
.htmlarea .tools .mode > span:after { content:"\2F" }

.htmlarea .tools .link > span:after { content:"_" }
.htmlarea .tools .image > span:after { content:"p" }
.htmlarea .tools .video > span:after { content:"v" }

.htmlarea .tools .remove {}
.htmlarea .tools .float-left {}
.htmlarea .tools .float-right {}
.htmlarea .tools .float-none {}


.htmlarea-link { display:block; position:absolute; left:-1px; top:26px; margin-top:2px; }
.htmlarea-link input[type=text] { width:200px; vertical-align:top; margin:0; height:14px; padding-right:20px; }
.htmlarea-link a { color:#c00; cursor:pointer; font-size:16px; line-height:22px; width:20px; text-align:center; position:absolute; top:0; right:0; }
.htmlarea-link label { background:#eee; }


.htmlarea-image { display:block; position:absolute; right:-1px; top:26px; background:#dfdfdf; border:1px solid #ccc; }
.htmlarea-image form { padding:5px; margin:0; width:auto; }
.htmlarea-image h6 { padding:0; margin:0; font-size:1em; }
.htmlarea-image h6 label { font-size:.9em; font-weight:normal; }
.htmlarea-image input[type=text] { width:200px; margin:4px; }
.htmlarea-image input[type=radio] { margin:4px 0 4px 8px; }
.htmlarea-image label.upload, .htmlarea-image label.url { display:none; }
.htmlarea-image.upload label.upload, .htmlarea-image.url label.url { display:block; }
.htmlarea-image label.upload span, .htmlarea-image label.url span { display:none; }
.htmlarea-image .error { color:red; font-size:.9em; }
.htmlarea .image-placeholder { min-width:20px; min-height:20px; opacity:.8; filter:alpha(opacity=80);
	background:transparent url('data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA') no-repeat scroll center center; }


.htmlarea-edit-media { display:block; position:absolute; right:-1px; top:26px; margin:-1px; min-height:10px; min-width:10px; border:1px solid #888; }
.htmlarea-edit-media img { width:100%; height:100%; opacity:.5; }
.htmlarea-edit-media .resize a {  position:absolute; width:0; height:0; padding:5px; background:none; border:0 none; margin:-1px; cursor:move; }
.htmlarea-edit-media .resize span { position:absolute; left:50%; top:50%; height:5px; width:5px; margin:-4px; border:1px solid #888; background:#fff; }
.htmlarea-edit-media .resize a:hover span { border-color:#fff; background:#888; }
.htmlarea-edit-media .resize a.resize-top { top:-5px; left:-5px; width:100%; cursor:n-resize; cursor:ns-resize; }
.htmlarea-edit-media .resize a.resize-left { top:-5px; left:-5px; height:100%; cursor:w-resize; cursor:ew-resize; }
.htmlarea-edit-media .resize a.resize-right { top:-5px; right:-5px; height:100%; cursor:e-resize; cursor:ew-resize; }
.htmlarea-edit-media .resize a.resize-bottom { bottom:-5px; left:-5px; width:100%; cursor:s-resize; cursor:ns-resize; }
.htmlarea-edit-media .resize a.resize-top-left { top:-5px; left:-5px; cursor:nw-resize; cursor:nwse-resize; }
.htmlarea-edit-media .resize a.resize-top-right { top:-5px; right:-5px; cursor:ne-resize; cursor:nesw-resize; }
.htmlarea-edit-media .resize a.resize-bottom-left { bottom:-5px; left:-5px; cursor:sw-resize; cursor:nesw-resize; }
.htmlarea-edit-media .resize a.resize-bottom-right { bottom:-5px; right:-5px; cursor:se-resize; cursor:nwse-resize; }
.htmlarea-edit-media .tools { border:1px solid #ccc; position:absolute; top:-32px; left:0; min-width:100%; }
.htmlarea-edit-media .tools .remove { position:absolute; top:0; right:0; }
.htmlarea-edit-media-mask { position:absolute; }


.htmlarea-drop { position:absolute; left:0; top:0; width:100%; height:100%; background:#888; opacity:.5; }
.htmlarea-drop span { display:block; position:absolute; left:0; top:50%; margin-top:-50px; width:100%; font-size:64px; line-height:100px; color:#fff; text-align:center; }
.htmlarea-drop .mask { position:absolute; left:0; top:0; width:100%; height:100%; }


.htmlarea-video { display:block; position:absolute; right:-1px; top:26px; background:#dfdfdf; border:1px solid #ccc; }
.htmlarea-video form { padding:5px; margin:0; width:auto; }
.htmlarea-video h6 { padding:0; margin:0; font-size:1em; }
.htmlarea-video input[type=text] { width:200px; margin:4px; }
.htmlarea-video label.url { display:block; }
.htmlarea-video .error { color:red; font-size:.9em; }

